- title ||= "Book Today"
- content ||= "Have fun during your stay."
- card_number ||= 1
- icon ||= 'fa-check'
.col-md-3
  .panel.panel-default
    .panel-heading
      %h4
        %i.fa.fa-fw{class: "#{icon}"}
        =title
    .panel-body
      %p=content
      %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: "#modal_#{card_number}" }} Learn More
