- card_content = [['Swim with sharks', 'We find the tamest ones. Gaurantee not to bite', 'fa-warning']]
- card_content << ['Whale watching', 'They make a big splash', 'fa-heart']
- card_content << ['Parasailing', 'It\'s sure to give you a lift', 'fa-users']
- card_content << ['Surf Lessons', 'Glide on top the salty blue waters of North Shore', 'fa-tint']
- card_content << ['Snokel Adventure', 'Dive into the turquoise waves of Hanauma Bay', 'fa-map-signs']
- card_content << ['Stand Up Paddle', 'Coast along Oahu\'s calm and crystal clear waters', 'fa-check']
- card_content << ['Ultimate adventure', 'Surf, swim, hike and sightseeing.', 'fa-trophy']
- card_content << ['Pearl Harbor Tour', 'See something. Learn something. Famous landmark', 'fa-ship']
- card_content << ['Diamond Head Run', 'Beat the guide to the top.', 'fa-space-shuttle']
- card_content << ['Sunrise yoga', 'Rise to a Hawaiian sunrise.', 'fa-sun-o']
- card_content << ['Chinatown tour', 'Eat you way through Chinatown and learn some.', 'fa-hourglass']
- card_content << ['Kualoa Ranch', 'Glimpse into Oahu\'s best kept secrets.', 'fa-home']

%body
  = render 'carousel'
  / Page Content
  .container-fluid
    / Marketing Icons Section
    .row
      .col-lg-12
        %h1.page-header
          Hawaii Activities
      - card_content.each_with_index do |title_content, index|
        - title, content, icon = title_content
        = render 'activity_card', title: title, content: content, icon: icon, card_number: index
        = render 'activity_modal', title: title, content: content, icon: icon, card_number: index
  / Script to Activate the Carousel
  :javascript
    $(document).on('ready', function () {
      $('.carousel').carousel({
          interval: 8000 //changes the speed
      })
    });
